logo.json
{
  "name": "Content to Design Automation",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "subject", "value": "Economic & Social Issues" },
            { "name": "chapter", "value": "Economic Growth and Development" },
            { "name": "title", "value": "RBI One | National News | January 2026" },
            { "name": "content", "value": "This is the raw content that will be transformed into a structured design format using n8n workflow automation." }
          ]
        }
      },
      "id": "setData",
      "name": "Set Raw Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "const html = `\n<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody {\n  font-family: Arial, sans-serif;\n  margin: 40px;\n}\n.header {\n  display: flex;\n  justify-content: space-between;\n  align-items: center;\n}\n.title {\n  color: #1B71AC;\n  font-size: 24px;\n  font-weight: bold;\n}\n.subtitle {\n  color: #2AB573;\n}\n.content {\n  margin-top: 20px;\n  line-height: 1.6;\n}\n.watermark {\n  position: fixed;\n  top: 30%;\n  left: 30%;\n  opacity: 0.2;\n  font-size: 50px;\n}\n</style>\n</head>\n<body>\n\n<div class=\"header\">\n  <div>\n    <div class=\"title\">${$json.subject}</div>\n    <div class=\"subtitle\">${$json.chapter}</div>\n  </div>\n  <img src=\"https://anujjindal.in/wp-content/uploads/2022/05/LOGO-FULL-01.png\" width=\"120\" />\n</div>\n\n<div class=\"content\">\n  <h2>${$json.title}</h2>\n  <p>${$json.content}</p>\n</div>\n\n<div class=\"watermark\">\n  LOGO\n</div>\n\n</body>\n</html>\n`;\n\nreturn [{ html }];"
      },
      "id": "generateHTML",
      "name": "Generate HTML",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Set Raw Content", "type": "main", "index": 0 }]]
    },
    "Set Raw Content": {
      "main": [[{ "node": "Generate HTML", "type": "main", "index": 0 }]]
    }
  }
}
